# Plane definitions are loaded in order. Press `s` in Kitfly to cycle this list.
# Angles are model correction offsets in degrees. `direction_degrees` is yaw.

[plane]
name = plane0
asset = plane0/scene.gltf
scale = 4.0
translation = 3.0, 0.0, 0.0
pitch_degrees = -3.44
direction_degrees = 0.0
roll_degrees = 0.0
propeller = none

[plane]
name = plane1
asset = plane1/scene.gltf
scale = 0.003
translation = 0.0, -0.9, 0.0
pitch_degrees = -3.44
direction_degrees = 180.0
roll_degrees = 0.0
propeller = node:Cylinder.001
propeller_speed = 80.0

[plane]
name = plane5
asset = plane5/scene.gltf
scale = 0.17
translation = -0.23, 0.0, -0.46
pitch_degrees = 0.0
direction_degrees = 180.0
roll_degrees = 0.0
propeller = node:prop
propeller_speed = 80.0

[plane]
name = plane6
asset = plane6/scene.gltf
scale = 0.065
translation = 0.0, -0.59, 0.22
pitch_degrees = 0.0
direction_degrees = 0.0
roll_degrees = 0.0
propeller = none
